@mainColor: #3DA3A7;
@colorSchema: 'light';

.mc-block {
  .title {
    color: @mainColor;
  }

  &.product-images {
    background: @mainColor;
  }

  &.product-details {
    background: @mainColor;

    .title {
      background: @mainColor;
      background: fadeout(@mainColor, 50%);
    }
  }

  &.product-reviews {
    .review {
      .description {
        .name {
          color: @mainColor;
        }
      }
    }
  }

  &.product-other {
    background: @mainColor;
  }
}

.mainStroke {
  stroke: @mainColor;
}