@import "/bower_components/bootstrap/less/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import "variables";
@import "mixins";

mc-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @brand-primary;

  mc-page-tabs {
    background: url(http://local.mercherdev.com/uploads/0e1181b3e6bd450544d54d844240860ce6eab3e3/12794b90c2cff85bfabb29d6bfc0a00e.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .tabs {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 0 70px 0;
      overflow: hidden;
    }
    .buttons {
      position: absolute;
      height: 70px;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      text-align: center;
      padding: 10px 0;
      margin: 0;

      li {
        display: inline-block;
        margin: 0 10px;

        a {
          img {
            height: 25px;
            width: 25px;
          }
        }

        &.active {
          a {
            img {
              height: 50px;
              width: 50px;
            }
          }
        }
      }
    }
  }
}
