// mcBlock
.mc-block {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: @mc-big-padding @mc-huge-padding;

  // Quadratic block
  &.quadratic {
  }

  // Rectangular block
  &.rectangular {
  }

  .title {
    margin: 0;
    padding: 0;
    line-height: @mc-header-size;
    font-size: 40px;
    color: @brand-primary;
  }

  @import "mc-block/product-reviews";
  @import "mc-block/product-images";
  @import "mc-block/product-details";
  @import "mc-block/product-other";
}
