@brand-primary:         #3DA3A7;

@font-family-base:      Roboto, @font-family-sans-serif;

@headings-font-weight:  200;

@border-radius-base:    1px;
@border-radius-large:   2px;
@border-radius-small:   0px;