%svg{:width => "60px", :height => "60px", :viewbox => "0 0 60 60"}

  %g{:stroke => "none", :fill => "#3DA3A7"}
    %polygon{ng: {repeat: "polygon in polygons"}, "ng-attr-points" => "{{ polygon.printPoint() }}"}

