%svg{:width => "60px", :height => "60px", :fill => "red"}
  %rect.background{:stroke => "none", :fill => "#3DA3A7", :x => "0", :y => "0", :width => "60", :height => "60"}
  %g.lines{:stroke => "white", "stroke-width" => "4", :fill => "none"}
    %line{:x1 => "14", :x2 => "46", :y1 => "18", :y2 => "18"}
    %line{:x1 => "14", :x2 => "46", :y1 => "30", :y2 => "30"}
    %line{:x1 => "14", :x2 => "46", :y1 => "42", :y2 => "42"}
