%svg{:width => "32px", :height => "32px"}
  %circle.inner{:stroke => "none", :fill => "#3DA3A7", :cx => "16", :cy => "16", :r => "9"}
  %circle.border{:stroke => "white", "stroke-width" => "4", :fill => "none", :cx => "16", :cy => "16", :r => "10"}
