!!!
%html.no-js
  %head
    %meta{charset: "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}/
    %meta{name: "language", content: "en"}/
    %meta{name: "description", content: ""}/
    %title Mercher

    / bower:css
    / endbower

    / build:css({.tmp,app}) /styles/main.css
    %link{rel: "stylesheet", href: "/styles/main.css"}
    / endbuild

  %body{ng: {app: "mercherWebClientApp"}}
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li{ui: {sref: {active: "active"}}}
            %a{ui: {sref: "home"}}
              Home
          %li{ui: {sref: {active: "active"}}}
            %a{ui: {sref: "about"}}
              About
        %h3.text-muted Mercher
      .ui-view
      .footer
        %p
          %span.glyphicon.glyphicon-heart
          from the Yeoman team

    /[if lt IE 9]
      %script{src: "/bower_components/es5-shim/es5-shim.min.js"}
      %script{src: "/bower_components/json3/lib/json3.min.js"}

    / bower:js
    / endbower

    / build:js({.tmp,app}) /scripts/scripts.js
    %script{src: "/scripts/app.js"}
    %script{src: "scripts/controllers/main.js"}
    %script{src: "scripts/controllers/about.js"}
    / endbuild
