!!!
%html.no-js
  %head
    %base{href: "/"}/
    %meta{charset: "utf-8"}/
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"}/
    %meta{name: "language", content: "en"}/
    %meta{name: "description", content: ""}/
    %title Mercher

    / bower:css
    / endbower

    / build:css({.tmp,app}) /styles/main.css
    %link{rel: "stylesheet", href: "/styles/main.css"}
    / endbuild

  %body{ng: {app: "mercherWebClientApp"}}
    #fb-root
    %div{ui: {view: true}}

    /[if lt IE 9]
      / build:js(.) /scripts/vendor_lt_ie9.js
      %script{src: "/bower_components/es5-shim/es5-shim.min.js"}
      %script{src: "/bower_components/json3/lib/json3.min.js"}
      / endbuild

    / build:js(.) /scripts/vendor.js
    / bower:js
    / endbower
    %script{src: "/bower_components/socket.io-client/socket.io.js"}
    / endbuild

    / build:js({.tmp,app}) /scripts/scripts.js
    %script{src: "/scripts/config.js"}
    %script{src: "/scripts/app.js"}
    %script{src: "/scripts/controllers/marketing.js"}
    %script{src: "/scripts/controllers/marketplace.js"}
    %script{src: "/scripts/controllers/product.js"}
    %script{src: "/scripts/controllers/product/images.js"}
    %script{src: "/scripts/controllers/product/details.js"}
    %script{src: "/scripts/controllers/product/reviews.js"}
    %script{src: "/scripts/controllers/product/other.js"}
    %script{src: "/scripts/directives/mcpage.js"}
    %script{src: "/scripts/directives/mcblock.js"}
    %script{src: "/scripts/directives/mcimage.js"}
    %script{src: "/scripts/directives/mcrating.js"}
    %script{src: "/scripts/directives/mcradio.js"}
    %script{src: "/scripts/directives/mcback.js"}
    %script{src: "/scripts/directives/mccustomcolor.js"}
    %script{src: "/scripts/services/resources.js"}
    %script{src: "/scripts/services/socket.js"}
    %script{src: "/scripts/services/auth_service.js"}
    %script{src: "/scripts/services/product.js"}
    %script{src: "/scripts/services/product_image.js"}
    %script{src: "/scripts/modules/facebook.js"}
    / endbuild
