.image{mc: {custom: {background: "activeImage.mainColor"}}}
  %img{ng: {if: "activeImage"}, mc: {image: "activeImage"}, size: "xl"}

.switcher{ng: {if: "productImages.length"}, style: "height: {{ 32 * productImages.length + 4 * (productImages.length-1) }}px; margin-top: -{{ 16 * productImages.length + 2 * (productImages.length-1) }}px;"}
  .mc-radio{color: "productImage.image.mainColor", ng: {repeat: "productImage in productImages", class: "{active: productImage.image === activeImage}", click: "selectImage(productImage.image)"}}