%div
  %h1.title{mc: {custom: {color: "{color: mainColor}"}}} Reviews
  %hr/
  .review
    .avatar
      %img{src: "http://staging.mercherdev.com/uploads/20c71f063fad9adc446e7014bb8f6399412dd309/1e80d0d34c5a4685cb6d951bdb5c4e3f.JPG", height:"100"}
    .description
      %h3.name{mc: {custom: {color: "{color: mainColor}"}}}
        1Lorem ipsum dolor sit amet
      %p.message
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sodales elit. Nullam at lacinia augue. Praesent vel fermentum nisl. Nulla euismod elit diam. Donec et nisi vitae sem venenatis eleifend at sed augue. Phasellus massa elit, tempor a condimentum ac, imperdiet quis sem. Integer blandit blandit leo, vitae varius nisi commodo vitae. Aenean accumsan odio vel massa luctus, ut sagittis eros tristique. Nulla sed gravida orci. Nulla luctus odio eu nisl ultricies bibendum non sed sem. Vestibulum dapibus interdum tellus, sit amet ornare quam semper eget.
    .mc-rating{rating: "3"}
  %hr/
  .review
    .avatar
      %img{src: "http://staging.mercherdev.com/uploads/20c71f063fad9adc446e7014bb8f6399412dd309/1e80d0d34c5a4685cb6d951bdb5c4e3f.JPG", height:"100"}
    .description
      %h3.name{mc: {custom: {color: "{color: mainColor}"}}}
        2Lorem ipsum dolor sit amet
      %p.message
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sodales elit. Nullam at lacinia augue. Praesent vel fermentum nisl. Nulla euismod elit diam. Donec et nisi vitae sem venenatis eleifend at sed augue. Phasellus massa elit, tempor a condimentum ac, imperdiet quis sem. Integer blandit blandit leo, vitae varius nisi commodo vitae. Aenean accumsan odio vel massa luctus, ut sagittis eros tristique. Nulla sed gravida orci. Nulla luctus odio eu nisl ultricies bibendum non sed sem. Vestibulum dapibus interdum tellus, sit amet ornare quam semper eget.
    .mc-rating{rating: "4"}
  %hr/