%div
  %h1.title{mc: {custom: {color: "{color: mainColor}"}}} Reviews
  %hr/

  %div{ng: {repeat: "productReview in productReviews"}}
    .review
      .avatar
        %img{mc: {image: "productReview.user.image"}, size: "xs", height:"100"}
      .description
        %h3.name{mc: {custom: {color: "{color: mainColor}"}}}
          {{ productReview.user.firstName }} {{ productReview.user.lastName }}
        %p.message
          {{ productReview.comment }}
      .mc-rating{rating: "productReview.rating"}
    %hr/