.header
  .logo
    %h1
      MERCHER

%button{type: "button", ng: {click: "login()", if: "!currentUser"}} FB Login
%span{ng: {if: "currentUser"}} Hello, {{ currentUser.first_name }} {{ currentUser.last_name }}!

.categories-carousel
  .categories-carousel-item
    .carousel-item-description
      %h2
        Title
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .carousel-item-elements
      .card
        %img{src: "http://dev.mercher.net/images/shop_339/products/xl_71c29807ca8a0796e1c5f8baee10e9c9.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_339/products/xl_196cd8e240d0d7c8eb07af95990fbaaf.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_339/products/xl_cf84e02efa8819876981330b57c9fe3c.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_339/products/xl_a1949afb4ae2e528fc19ce1427045949.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_339/products/xl_d346739e5f917a58e5fb3eef4b23c6d2.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_391/products/xl_96317a7923fa5e10d98efbeea2d28fe2.jpg"}

  .categories-carousel-item
    .carousel-item-description
      %h2
        Title
      %p
        Vivamus aliquet sodales quam. Vestibulum vel nulla eget lorem condimentum convallis at nec tortor.
    .carousel-item-elements
      .card
        %img{src: "http://dev.mercher.net/images/shop_377/products/xl_acbd472748a7b1e4dab749816f161d7a.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_377/products/xl_5cb01a22119d836493fc713bf25db715.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_377/products/xl_e64da94506763052e8f683c476f92c08.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_377/products/xl_629251bb0f9e7968c04ff8cfe5698d28.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_377/products/xl_b3dfcf76e06a5b281941ecfb3bccf341.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_377/products/xl_8612db2f98c6e98d26e69c38434593cc.jpg"}
  .categories-carousel-item
    .carousel-item-description
      %h2
        Title
      %p
        Vestibulum egestas eget nisi ut vestibulum.
    .carousel-item-elements
      .card
        %img{src: "http://dev.mercher.net/images/shop_532/products/xl_32b8923dc22023d09a67564a1d45d210.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_532/products/xl_b259031b38b0f7ba7f5d4d46fd764020.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_532/products/xl_540b5f044f1030b4b57b5d7ea370041b.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_532/products/xl_42a874dd4b6c69882e138757fe3c0602.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_532/products/xl_ddce8741f74e50c0b7bfbb02dba4a9a7.jpg"}
      .card
        %img{src: "http://dev.mercher.net/images/shop_532/products/xl_b848f031cdd719ba92a763e68613fa15.jpg"}