%mc-page
  %mc-page-tabs
    %mc-page-pane{ng: {repeat: "category in categories", if: "category.products"}, image: "category.image", title: "category.title", cover: "category.image"}
      .card{ng: {repeat: "product in category.products"}}
        %img{ng: {repeat: "productImage in product.productImages"}, mc: {image: true}, image: "productImage.image", size: "m"}


%button{type: "button", ng: {click: "login()", if: "!currentUser"}} FB Login
%span{ng: {if: "currentUser"}} Hello, {{ currentUser.firstName }} {{ currentUser.lastName }}!