.mc-page.internal
  %a.back-button{ui: {sref: "marketplace"}}
  .mc-block.product-images.quadratic
    %img{src: "http://staging.mercherdev.com/uploads/20c71f063fad9adc446e7014bb8f6399412dd309/1e80d0d34c5a4685cb6d951bdb5c4e3f.JPG", height:"100%"}
  .mc-block.product-details.rectangular
    %h1.title Waxed canvas Backpack with rollup top and waxed leather unisex
    %p.description
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sodales elit. Nullam at lacinia augue. Praesent vel fermentum nisl. Nulla euismod elit diam. Donec et nisi vitae sem venenatis eleifend at sed augue. Phasellus massa elit, tempor a condimentum ac, imperdiet quis sem. Integer blandit blandit leo, vitae varius nisi commodo vitae. Aenean accumsan odio vel massa luctus, ut sagittis eros tristique. Nulla sed gravida orci. Nulla luctus odio eu nisl ultricies bibendum non sed sem. Vestibulum dapibus interdum tellus, sit amet ornare quam semper eget.
    %p.description
      Mauris vel augue vehicula, vehicula risus eget, placerat turpis. Integer maximus tristique tempus. Etiam ac rhoncus velit. Pellentesque sit amet feugiat magna. In hac habitasse platea dictumst. Cras quis iaculis ante. Donec fringilla velit in massa tincidunt dapibus. Donec in nunc varius, consectetur orci at, placerat tortor. Proin maximus urna eget diam vulputate, id dignissim ligula pulvinar. Maecenas purus tortor, pulvinar sed porta ac, condimentum aliquet lacus. Donec aliquam nunc eu risus laoreet placerat. Sed eu ultrices arcu. Mauris malesuada auctor mauris id tincidunt. Integer lobortis euismod ornare. Duis vel arcu ac quam volutpat viverra ac vel nisi.
    %p.description
      Vestibulum laoreet urna quis consequat maximus. Ut congue nisl varius arcu consequat, eu ultricies magna euismod. Vestibulum tempus vehicula nibh, venenatis hendrerit neque vulputate vel. Nam tincidunt vulputate convallis. Ut urna sapien, tempus eu placerat vitae, pellentesque id erat. Etiam convallis orci eu arcu fringilla efficitur eu a dolor. In tempor, arcu ac pellentesque iaculis, mi magna luctus quam, tincidunt placerat leo risus non nisl. Vestibulum faucibus diam purus, a commodo tortor mattis a.
    %p.description
      Fusce eu risus ac tortor mattis feugiat. Pellentesque faucibus lacus sem. Vivamus faucibus bibendum velit, at vulputate enim sollicitudin ac. Morbi et metus blandit lacus rutrum sodales a nec sem. Sed odio lorem, tempus tempus ex quis, lobortis dictum mi. Aenean finibus at arcu ac elementum. Donec ex lacus, porta a dictum eget, dapibus vitae ipsum. Nulla cursus nunc sit amet mauris aliquet, vitae eleifend urna faucibus. Etiam elementum urna urna, non volutpat nibh fermentum at. Nam ut finibus massa. Sed id ante suscipit arcu lacinia maximus. Quisque id diam vitae tellus tristique pretium.
    %p.description
      Sed vehicula id nunc ac placerat. Quisque vestibulum fermentum odio, eu suscipit dolor egestas id. Vivamus vitae nulla sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tincidunt maximus mollis. Proin vel ligula gravida justo laoreet aliquam. Fusce fringilla leo est.
  .mc-block.product-reviews.quadratic
    %h1.title Reviews
    %hr/
    .review
      .avatar
        %img{src: "http://staging.mercherdev.com/uploads/20c71f063fad9adc446e7014bb8f6399412dd309/1e80d0d34c5a4685cb6d951bdb5c4e3f.JPG", height:"100"}
      .description
        %h3.name
          Lorem ipsum dolor sit amet
        %p.message
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sodales elit. Nullam at lacinia augue. Praesent vel fermentum nisl. Nulla euismod elit diam. Donec et nisi vitae sem venenatis eleifend at sed augue. Phasellus massa elit, tempor a condimentum ac, imperdiet quis sem. Integer blandit blandit leo, vitae varius nisi commodo vitae. Aenean accumsan odio vel massa luctus, ut sagittis eros tristique. Nulla sed gravida orci. Nulla luctus odio eu nisl ultricies bibendum non sed sem. Vestibulum dapibus interdum tellus, sit amet ornare quam semper eget.
      .rating
        test
    %hr/
    .review
      .avatar
        %img{src: "http://staging.mercherdev.com/uploads/20c71f063fad9adc446e7014bb8f6399412dd309/1e80d0d34c5a4685cb6d951bdb5c4e3f.JPG", height:"100"}
      .description
        %h3.name
          Lorem ipsum dolor sit amet
        %p.message
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sodales elit. Nullam at lacinia augue. Praesent vel fermentum nisl. Nulla euismod elit diam. Donec et nisi vitae sem venenatis eleifend at sed augue. Phasellus massa elit, tempor a condimentum ac, imperdiet quis sem. Integer blandit blandit leo, vitae varius nisi commodo vitae. Aenean accumsan odio vel massa luctus, ut sagittis eros tristique. Nulla sed gravida orci. Nulla luctus odio eu nisl ultricies bibendum non sed sem. Vestibulum dapibus interdum tellus, sit amet ornare quam semper eget.
      .rating
        test
    %hr/

  .mc-block.product-other.quadratic
    %h1.title Other products
