.mc-page.internal
  %a.mc-back{ui: {sref: "marketplace"}, color: "mainColor"}
  .mc-block.product-images.quadratic{ui: {view: "images"}}
  .mc-block.product-details{ui: {view: "details"}, mc: {custom: {background: "mainColor"}}}
  .mc-block.product-reviews{ui: {view: "reviews"}}
  .mc-block.product-other{ui: {view: "other"}, mc: {custom: {background: "mainColor"}}}
