.mc-page.internal
  %a.mc-back{ui: {sref: "marketplace"}, color: "mainColor"}
  .mc-block.product-images.quadratic{ui: {view: "images"}, mc: {custom: {background: "mainColor"}}}
  .mc-block.product-details.rectangular{ui: {view: "details"}, mc: {custom: {background: "mainColor"}}}
  .mc-block.product-reviews.quadratic{ui: {view: "reviews"}}
  .mc-block.product-other.quadratic{ui: {view: "other"}, mc: {custom: {background: "mainColor"}}}
