.mc-page
  %a.mc-back{ui: {sref: "marketplace.top"}, color: "mainColor"}
  .mc-product-images-block{ng: {if: "product && product.productImages.length"}, product: {images: "product.productImages"}}
  .mc-block.product-details{ui: {view: "details"}, ng: {if: "product"}}
  .mc-block.product-reviews{ui: {view: "reviews"}, ng: {if: "product"}}
  .mc-block.product-other{ui: {view: "other"}, ng: {if: "product"}}
